.canvasContainer {
  text-align: center;
  position: relative;
  margin:0px;
}

.canvasContainer>canvas {
  max-height: 100vh;
  aspect-ratio: 1;
}

nav.sourceFileNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav.sourceFileNav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav.sourceFileNav li a {
  display: block;
  margin: 0;
  color: white;
  background-color: #403e3e;
}

nav.sourceFileNav li a[data-active=true] {
  background-color: #282823;
}

.sourceFileContainer {
  overflow: hidden;
  height: 0;
}

.sourceFileContainer[data-active=true] {
  height: auto;
}

.sourceFileContainer :global(.CodeMirror) {
  margin-top: 0;
}
